configuration {
    modi: "drun,run";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    drun-display-format: "{icon} {name}";
    font: "JetBrainsMono Nerd Font Propo 12";
}


@theme "launcher"

